.Task div {


    /*border-width: 1px;
    border-style: solid;*/
    border: 1px solid #000;
    width: 310px;
}



.Task span button {

    margin-bottom: 9px;

    vertical-align: middle;
}

.done {
    text-decoration: line-through;
}